<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicons/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">

        <!-- Styles -->
        <link href="/css/all.css" rel="stylesheet" type="text/css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        {% block social_meta %}
        {% endblock %}
    </head>
    <body>
        <div class="wrap">
            <nav class="main-nav">
                <a href="/" class="home-nav"><img src="/img/campaign-logo/logo-basic-inverted.png" /></a>
                <ul>
                    <li>
                        <a href="#">Subscribe</a>
                    </li>
                    <li>
                        <a href="#">Get A Sign</a>
                    </li>
                    <li class="secondary-action">
                        <a href="#">Volunteer</a>
                    </li>
                    <li class="primary-action">
                        <a href="#">Donate</a>
                    </li>
                </ul>
            </nav>
            {% block body_content %} {% endblock %}

        </div>
        <!--<div class="footer padding-normal is-centered">&copy; Troy Pavlek</div>-->

        <!--
    <div class="wrap sidebar-bg">


        <div class="pure-menu pure-menu-open sidebar">
            <img src="{{ site.url }}/img/cropped-profile.jpg" />
            <h1>{{ site.title }}</h1>
            <p>{{ site.subtitle }}</p>
            <ul>
                <li>
                    <a href="{{ site.url}}/index.html">Home</a>
                </li>
                <!--<li>
                    <a href="{{ site.url }}/why">Ward 11 Campaign</a>
                </li>-->
        <!--
                <li>
                    <a href="{{ site.url }}/blog">Blog</a>
                </li>
                <li>
                    <a href="{{ site.url }}/projects">Projects</a>
                </li>
                <li>
                    <a href="https://twitter.com/troypavlek">Twitter: @troypavlek</a>
                </li>
                <li>
                    <a href="http://github.com/tpavlek">Github: tpavlek</a>
                </li>
                <li>
                    <a href="mailto:troy@tpavlek.me">troy@tpavlek.me</a>
                </li>
            </ul>
        </div>
        -->

    {% block scripts %}
    {% endblock %}
    <script src="{{ site.url }}/js/prism.js"></script>

    {% if site.google_analytics_tracking_id %}

    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
    </body>
</html>
