{% if caption is defined %}
    <table {% if inline is defined %} style="display: inline;" {% endif %}>
        <tr>
            <td style="text-align: center"><img src="{{page.imgpath}}{{name}}" /></td>
        </tr>
        <tr>
            <td><em>{{ caption }}</em></td>
        </tr>
    </table>
    {% else %}
        <img src="{{page.imgpath}}{{name}}" {% if inline is defined %} style="display:inline;" {% endif %}/>
{% endif %}
