{% extends "wrapped.html.twig" %}
{% block content_wrapper %}
    <article>
        <header>
            <h2 style="margin-bottom: 0">{{ page.title }}</h2>
            <h4 style="margin: 0"><small>{{ page.date|date("Y-m-d") }}</small></h4>
        </header>
        <div>
            {{ page.blocks.content|raw }}
        </div>
        {% if page.tags %}
            <p class="tags">
                Tags
            {% for tag in page.tags %}
                <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}" class="tag tag-{{ tag }}">{{ tag }}</a>
            {% endfor %}
            </p>
        {% endif %}
    </article>
        {% if page.previous_post or page.next_post %}
        <nav class="post-controls">
            {% if page.next_post %}
            <a class="right button" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}">
                Next:
                <span class="title">
                    {{ page.next_post.title|length > 30 ? page.next_post.title|slice(0, 30) ~ '...' : page.next_post.title }}
                </span>
            </a>
            {% endif %}
            {% if page.previous_post %}
            <a class="left button" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}">
                Prev:
                <span class="title">
                    {{ page.previous_post.title|length > 30 ? page.previous_post.title|slice(0, 30) ~ '...' : page.previous_post.title }}
                </span>
            </a>
            {% endif %}
        </nav>
        {% endif %}
{% endblock %}
