{% extends "wrapped.html.twig" %}
{% block content_wrapper %}
    <article class="is-centered post">
        <header class="summary-block" style="background-image: url('{{ page.imgpath }}{{ page.img }}');">

            <div class="summary-description">
                <div class="text">
                    <h1>{{ page.title }}</h1>
                    <h3 class="date">{{ page.date|date("F jS, Y") }}</h3>
                </div>
            </div>

        </header>
        <div class="post-content">
            {{ page.blocks.content|raw }}
        </div>
        {% if page.tags %}
            <p class="tags">
                Tags
            {% for tag in page.tags %}
                <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}" class="tag tag-{{ tag }}">{{ tag }}</a>
            {% endfor %}
            </p>
        {% endif %}
    </article>
        {% if page.previous_post or page.next_post %}
        <nav class="post-controls">
            {% if page.next_post %}
            <a class="right button" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}">
                Next:
                <span class="title">
                    {{ page.next_post.title|length > 30 ? page.next_post.title|slice(0, 30) ~ '...' : page.next_post.title }}
                </span>
            </a>
            {% endif %}
            {% if page.previous_post %}
            <a class="left button" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}">
                Prev:
                <span class="title">
                    {{ page.previous_post.title|length > 30 ? page.previous_post.title|slice(0, 30) ~ '...' : page.previous_post.title }}
                </span>
            </a>
            {% endif %}
        </nav>
        {% endif %}
{% endblock %}

{% block social_meta %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@troypavlek" />

    <meta name="twitter:title" content="{{ page.title }}" />
    <meta property="og:title" content="{{ page.title }}" />

    {% if page.description %}
        <meta name="twitter:description" content="{{ page.description }}" />
        <meta property="og:description" content="{{ page.description }}" />
    {% else %}
        <meta name="twitter:description" content="Troy Pavlek -- {{ site.subtitle }}" />
        <meta property="og:description" content="Troy Pavlek -- {{ site.subtitle }}" />
    {% endif %}

    {% if page.img %}
        <meta name="twitter:image" content="{{ site.url }}{{ page.imgpath }}{{ page.img }}" />
        <meta property="og:image" content="{{ site.url }}{{ page.imgpath }}{{ page.img }}" />
    {% else %}
        <meta name="twitter:image" content="{{site.url}}/img/logo.png" />
        <meta property="og:image" content="{{site.url}}/img/logo.png" />
    {% endif %}


    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="article" />
{% endblock %}
